label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
}

input[type="email"],
input[type="text"] {
    font-size: 1rem;
    margin-bottom: 1em;
    height: 2em;
    padding: 0 .5em;
    width: 100%;
    max-width: 24em;
}

[for="dob"],
[id="dob"] {
    display: none;
}

textarea {
    font-size: 16px;
    margin-bottom: 1em;
    height: 6.5em;
    padding: 0 .5em;
    width: 100%;
    max-width: 24em;
}

input + p,
textarea + p {
    color: red;
    margin-top: 0;
}

input[error="true"],
textarea[error="true"] {
    border-color: red;
}

