backend:
  name: git-gateway
  branch: master
media_folder: "public/media"
public_folder: "/media"
collections:
  - name: "page"
    label: "Page"
    folder: "data/pages"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
      - {label: "Body", name: "body", widget: "markdown"}
