backend:
  name: "git-gateway"
  branch: "master"
media_folder: "public/media"
public_folder: "/media"
collections:
  - name: "pages"
    label: "Pages"
    files:
      - name: "home"
        label: "Home Page"
        file: "data/pages/index.md"
        fields:
          - {label: "Type", name: "type", widget: "hidden", default: "system"}
          - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Meta description", name: "metadescription", widget: "text"}
          - {label: "Body", name: "body", widget: "markdown"}
      - name: "contact"
        label: "Contact Page"
        file: "data/pages/contact.md"
        fields:
          - {label: "Type", name: "type", widget: "hidden", default: "system"}
          - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Meta description", name: "metadescription", widget: "text"}
          - {label: "Body", name: "body", widget: "markdown"}
  - name: "custompages"
    label: "Custom Pages"
    folder: "data/pages"
    create: true
    slug: "{{slug}}"
    filter: {field: "type", value: "custom"}
    fields:
      - {label: "Type", name: "type", widget: "hidden", default: "custom"}
      - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Meta description", name: "metadescription", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "config"
    label: "Config"
    files:
      - name: "header"
        label: "Header"
        file: "data/config/header.json"
        fields:
          - {name: "logo", label: "Logo", widget: "image"}
          - name: "links"
            label: "Quick links"
            widget: "list"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Url", name: "url", widget: "string"}
      - name: "nav"
        label: "Nav"
        file: "data/config/nav.json"
        fields:
          - name: "links"
            label: "Links"
            widget: "list"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Url", name: "url", widget: "string"}
      - name: "footer"
        label: "Footer"
        file: "data/config/footer.json"
        fields:
          - {label: "Copyright", name: "copyright", widget: "string"}
