backend:
  name: "git-gateway"
  branch: "master"
media_folder: "public/media"
public_folder: "/media"
collections:
  - name: "pages"
    label: "Pages"
    files:
      - name: "home"
        label: "Home Page"
        file: "data/pages/index.md"
        fields:
          - {label: "Type", name: "type", widget: "hidden", default: "system"}
          - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Meta description", name: "metadescription", widget: "text"}
          - {label: "Body", name: "body", widget: "markdown"}
      - name: "bloglist"
        label: "Blog list"
        file: "data/pages/blog/index.md"
        fields:
          - {label: "Type", name: "type", widget: "hidden", default: "system"}
          - {label: "Layout", name: "layout", widget: "hidden", default: "blog.njk"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Meta description", name: "metadescription", widget: "text"}
          - {label: "Body", name: "body", widget: "markdown", required: false}
      - name: "contact"
        label: "Contact Page"
        file: "data/pages/contact.md"
        fields:
          - {label: "Type", name: "type", widget: "hidden", default: "system"}
          - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Meta description", name: "metadescription", widget: "text"}
          - {label: "Body", name: "body", widget: "markdown"}
          - {label: "Field required message", name: "requiredmessage", widget: "string"}
          - {label: "Success Message", name: "successmessage", widget: "string"}
          - {label: "Label Firstname", name: "labelfirstname", widget: "string"}
          - {label: "Label Lastname", name: "labellastname", widget: "string"}
          - {label: "Label Email", name: "labelemail", widget: "string"}
          - {label: "Label Message", name: "labelmessage", widget: "string"}
          - {label: "Label Button", name: "labelbutton", widget: "string"}
      - name: "404"
        label: "404 Page"
        file: "data/pages/404.md"
        fields:
          - {label: "Type", name: "type", widget: "hidden", default: "system"}
          - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Meta description", name: "metadescription", widget: "text"}
          - {label: "Body", name: "body", widget: "markdown"}
  - name: "custompages"
    label: "Custom Pages"
    folder: "data/pages"
    create: true
    slug: "{{slug}}"
    filter: {field: "type", value: "custom"}
    fields:
      - {label: "Type", name: "type", widget: "hidden", default: "custom"}
      - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Meta description", name: "metadescription", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "posts"
    label: "Posts"
    folder: "data/pages/blog"
    create: true
    slug: "{{slug}}"
    filter: {field: "type", value: "post"}
    fields:
      - {label: "Tags", name: "tags", widget: "hidden", default: "post"}
      - {label: "Type", name: "type", widget: "hidden", default: "post"}
      - {label: "Layout", name: "layout", widget: "hidden", default: "post.njk"}
      - {label: "Poster", name: "poster", widget: "image", required: false}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Meta description", name: "metadescription", widget: "text"}
      - {label: "Publication Date", name: "date", widget: "datetime"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "comments"
    label: "Comments"
    editor:
      preview: false
    file: "data/config/comments.json"
    widget: "list"
    fields:
      - {label: "Id", name: "id", widget: "hidden"}
      - {label: "Created", name: "created_at", widget: "string"}
      - {label: "Status", name: "status", widget: "select", options: ["pending", "approved", "refused"]}
      - {label: "Page", name: "page", widget: "string"}
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Email", name: "email", widget: "string"}
      - {label: "Comment", name: "comment", widget: "text"}
  - name: "config"
    label: "Config"
    editor:
      preview: false
    files:
      - name: "header"
        label: "Header"
        file: "data/config/header.json"
        fields:
          - {name: "logo", label: "Logo", widget: "image"}
          - name: "links"
            label: "Quick links"
            widget: "list"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Url", name: "url", widget: "string"}
      - name: "nav"
        label: "Nav"
        file: "data/config/nav.json"
        fields:
          - name: "links"
            label: "Links"
            widget: "list"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Url", name: "url", widget: "string"}
      - name: "footercontent"
        label: "Footer Content"
        file: "data/config/footercontent.md"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
      - name: "socialmediaintro"
        label: "Social Media Intro"
        file: "data/config/socialmediaintro.md"
        fields:
          - {label: "Body", name: "body", widget: "markdown"}
      - name: "footer"
        label: "Footer"
        file: "data/config/footer.json"
        fields:
          - name: "socialmedialinks"
            label: "Social Media Links"
            widget: "list"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Url", name: "url", widget: "string"}
              - {label: "Icon", name: "icon", widget: "select", options: ["facebook", "twitter", "instagram", "youtube", "github", "bitbucket", "gitlab", "vimeo", "pinterest", "snapchat", "twitch", "tumblr", "linkedin"]}
          - name: "bottomlinks"
            label: "Bottom Links"
            widget: "list"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Url", name: "url", widget: "string"}
          - {label: "Copyright", name: "copyright", widget: "string"}
      - name: "theming"
        label: "Theming"
        file: "data/config/theming.json"
        fields:
          - name: "colors"
            label: "Colors"
            widget: "object"
            fields:
              - {label: "Body Background", name: "body-bg", widget: "color"}
              - {label: "Body Color", name: "body-color", widget: "color"}
              - {label: "Muted Background", name: "muted-bg", widget: "color"}
              - {label: "Muted Color", name: "muted-color", widget: "color"}
              - {label: "CTA Color", name: "cta-color", widget: "color"}
              - {label: "CTA Hover Color", name: "cta-hover-color", widget: "color"}
              - {label: "CTA Text Color", name: "cta-text-color", widget: "color"}
              - {label: "Funnel Color", name: "funnel-color", widget: "color"}
              - {label: "Funnel Hover Color", name: "funnel-hover-color", widget: "color"}
              - {label: "Funnel Text Color", name: "funnel-text-color", widget: "color"}
              - {label: "Error Color", name: "error-color", widget: "color"}
              - {label: "Success Color", name: "success-color", widget: "color"}
          - name: "fonts"
            label: "Fonts"
            widget: "object"
            fields:
              - {label: "Main Font", name: "main-font", widget: "string"}
              - {label: "Heading Font", name: "heading-font", widget: "string"}
          - label: "Google Font URL"
            name: "googlefonturl"
            widget: "string"
