backend:
  name: git-gateway
  branch: master
media_folder: "public/media"
public_folder: "/media"
collections:
  - name: "pages"
    label: "Pages"
    files:
      - name: "home"
        label: "Home Page"
        file: "data/pages/index.md"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Type", name: "type", widget: "hidden", default: "system"}
          - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
          - {label: "Body", name: "body", widget: "markdown"}
  - name: "custompages"
    label: "Custom Pages"
    folder: "data/pages"
    create: true
    slug: "{{slug}}"
    filter: {field: "type", value: "custom"}
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Type", name: "type", widget: "hidden", default: "custom"}
      - {label: "Layout", name: "layout", widget: "hidden", default: "layout.njk"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "config"
    label: "Config"
    files:
      - name: "nav"
        label: "Nav"
        file: "data/config/nav.json"
        fields:
          - name: links
            label: Links
            widget: list
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Url, name: url, widget: string}
