body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    min-height: 100vh;
}

body > header {
    width: 100%;
    max-width: calc(960px + 2em);
}

body > main {
    width: calc(100% - 2em);
    max-width: 960px;
}

body > footer {
    width: 100%;
    margin-top: auto;
    background: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > footer > section {
    width: 100%;
    max-width: calc(960px + 2em);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

body > footer > section:last-child small {
    display: block;
    padding: 1rem;
}

body > footer > section:last-child nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

body > footer > section:last-child nav li {
    display: block;
    padding: 1em;
}

body > footer > section:last-child nav a {
    color: #333;
    text-decoration: none;
}
