---
title: Geuze
metadescription: The summary in search results
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ metadescription }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="{{ theming.googlefonturl }}">
    </head>
    <body>
        <header>
            <img src="{{ header.logo }}" alt="logo" width="128" height="64" />
            <nav>
                <ul>{% for link in header.links %}<li><a href="{{ link.url }}">{{ link.title }}</a></li>{% endfor %}</ul>
            </nav>
        </header>
        <nav>
            <ul>{% for link in nav.links %}<li><a href="{{ link.url }}">{{ link.title }}</a></li>{% endfor %}</ul>
        </nav>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <div>
                <nav>
                    <ul>{% for link in footer.bottomlinks %}<li><a href="{{ link.url }}">{{ link.title }}</a></li>{% endfor %}</ul>
                </nav>
                <small>{{ footer.copyright }}</small>
            </div>
        </footer>
        <a href="javascript:(e=>document.querySelector('body').setAttribute('menu', document.querySelector('body').getAttribute('menu') !== 'true'))()"><span>Menu</span></a>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                  if (!user) {
                    window.netlifyIdentity.on("login", () => {
                      document.location.href = "/admin/";
                    });
                  }
                });
            }
        </script>
    </body>
</html>
