---
title: Geuze
metadescription: The summary in search results
ogtype: website
poster: false
substyles: false
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ metadescription }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>{% include "../data/pages/css/layout.njk" %}</style>
        {% if substyles %}<style>{% include "../data/pages/css/" + substyles + ".njk" %}</style>{% endif %}
        <link rel="preload" href="/css/fonts.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="/css/fonts.css"></noscript>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" href="{{ theming.googlefonturl }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ theming.googlefonturl }}"></noscript>
        {% for favicon in faviconmeta %}{{ favicon | safe }}{% endfor %}
        <meta name="author" content="{{ opengraph.author }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="{{ opengraph.twitter }}">
        {% set ogimage %}{% if poster %}{{ poster }}{% else %}{{ opengraph.defaultimage }}{% endif %}{% endset %}
        <meta property="og:image:width" content="{{ ogimage | imagewidth }}">
        <meta property="og:image:height" content="{{ ogimage | imageheight }}">
        <meta property="og:image:type" content="{{ ogimage | imagetype }}">
        <meta property="og:image" content="{{ env.URL }}{{ ogimage }}">
        <meta property="fb:app_id" content="{{ opengraph.fbappid }}">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:type" content="{{ ogtype }}">
        <meta property="og:url" content="{{ env.URL }}{{ page.url }}">
        <meta property="og:description" content="{{ metadescription }}">
    </head>
    <body>
        <header class="page__header">
            <a href="/">
                <img src="{{ header.logo }}" alt="logo" width="128" height="64" />
            </a>
            <nav>
                <ul>{% for link in header.links %}<li><a href="{{ link.url }}"{% if link.url == page.url %} active="true"{% endif %}>{{ link.title }}</a></li>{% endfor %}</ul>
            </nav>
        </header>
        <nav class="page__nav">
            <ul>{% for link in nav.links %}<li><a href="{{ link.url }}"{% if link.url == page.url %} active="true"{% endif %}>{{ link.title }}</a>{% if link.sublinks.length %}<ul>{% for sublink in link.sublinks %}<li><a href="{{ sublink.url }}"{% if sublink.url == page.url %} active="true"{% endif %}>{{ sublink.title }}</a></li>{% endfor %}</ul>{% endif %}</li>{% endfor %}</ul>
        </nav>
        <main class="page__main">
            {{ content | safe }}
        </main>
        <footer class="page__footer">
            <div pancake="deconstructed">
                {% if footer.socialmedialinks.length %}
                <div grow="false">
                    {% markdown %}{% include "../data/config/socialmediaintro.md" %}{% endmarkdown %}
                    <nav>
                        <ul>{% for link in footer.socialmedialinks %}<li><a href="{{ link.url }}" rel="me" title="{{ link.title }}"><span icon="{{ icons[link.icon] | safe }}"></span></a></li>{% endfor %}</ul>
                    </nav>
                </div>
                {% endif %}
                <div>{% markdown %}{% include "../data/config/footercontent.md" %}{% endmarkdown %}</div>
            </div>
            <div>
                <nav>
                    <ul>{% for link in footer.bottomlinks %}<li><a href="{{ link.url }}"{% if link.url == page.url %} active="true"{% endif %}>{{ link.title }}</a></li>{% endfor %}</ul>
                </nav>
                <small>{{ footer.copyright }}</small>
            </div>
        </footer>
        <a href="javascript:(e=>document.querySelector('body').setAttribute('menu', document.querySelector('body').getAttribute('menu') !== 'true'))()" title="Menu"></a>
        <script src="/js/styles.js" async></script>
        {% if page.url == '/' %}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
        {% endif %}
    </body>
</html>
