---
title: Geuze
metadescription: The summary in search results
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ metadescription }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% set css %}
        :root {
        {% for name, color in theming.colors %}
        --{{ name }}: {{ color }};
        {% endfor %}
        {% for name, font in theming.fonts %}
        --{{ name }}: {{ font | safe }};
        {% endfor %}
        }
        {% include "../data/pages/css/imports/layout.css" %}
        {% include "../data/pages/css/imports/header.css" %}
        {% endset %}
        <style>{{ css | cssmin | safe }}</style>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" href="{{ theming.googlefonturl }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ theming.googlefonturl }}"></noscript>
    </head>
    <body>
        <header>
            <a href="/">
                <img src="{{ header.logo }}" alt="logo" width="128" height="64" />
            </a>
            <nav>
                <ul>{% for link in header.links %}<li><a href="{{ link.url }}"{% if link.url == page.url %} active="true"{% endif %}>{{ link.title }}</a></li>{% endfor %}</ul>
            </nav>
        </header>
        <nav>
            <ul>{% for link in nav.links %}<li><a href="{{ link.url }}"{% if link.url == page.url %} active="true"{% endif %}>{{ link.title }}</a></li>{% endfor %}</ul>
        </nav>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <div>
                <nav>
                    <ul>{% for link in footer.bottomlinks %}<li><a href="{{ link.url }}"{% if link.url == page.url %} active="true"{% endif %}>{{ link.title }}</a></li>{% endfor %}</ul>
                </nav>
                <small>{{ footer.copyright }}</small>
            </div>
        </footer>
        <a href="javascript:(e=>document.querySelector('body').setAttribute('menu', document.querySelector('body').getAttribute('menu') !== 'true'))()"><span>Menu</span></a>
    </body>
</html>
