---
title: Post
metadescription: Post
layout: layout.njk
date: 2021-03-11T20:46:01.069Z
poster:
---
<article>
    {% if poster %}
    <img src="{{ poster }}" alt="{{ title }}" />
    {% endif %}
    <h1>{{ title }}</h1>
    <p><strong>{{ page.date.toLocaleDateString('en', {year: 'numeric', month: 'long', day: 'numeric'}) }}</strong></p>
    <p>{{ metadescription }}</p>
    {{ content | safe }}
</article>
{% if comments.enabled %}
<link rel="stylesheet" href="/css/comments.css">
<h2>{{ comments.title }}</h2>
<div id="comments-list">
    <p>{{ comments.labelnocomments }}</p>
</div>
<h3>{{ comments.labelnewcomment }}</h3>
<div>
    <form name="comments-{{ page.fileSlug }}" method="POST" data-netlify="true" action="{{ page.url }}?success=yes" netlify-honeypot="dob" required-message="{{ comments.requiredmessage }}" success-message="{{ comments.successmessage }}">
        <label for="name">{{ comments.labelname }}</label>
        <input type="text" name="name" id="name">
        <label for="dob">Date of birth</label>
        <input type="text" name="dob" id="dob">
        <label for="comment">{{ comments.labelcomment }}</label>
        <textarea name="comment" id="comment"></textarea>
        <div>
            <button type="submit">{{ comments.labelbutton }}</button>
        </div>
    </form>
</div>
<script type="module" src="/js/comments.js"></script>
{% endif %}
