---
permalink: "css/comments.css"
---
{% set css %}
{% include "./imports/card.css" %}
{% include "./imports/blog.css" %}
{% include "./imports/form.css" %}
{% include "./imports/flashmessage.css" %}
{% endset %}
{{ css | cssmin | safe }}
