---
permalink: "css/preview.css"
---
{% include "./layout.njk" %}
{% set css %}
body {
    display: block;
    width: calc(100% - 2em);
    max-width: 960px;
    margin: 0 auto 3em;
}
{% endset %}
{{ css | cssmin | safe }}
