.footer {
    background: var(--muted-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.footer__bottom,
.footer__top {
    width: 100%;
    max-width: calc(960px + 2em);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__top {
    margin-bottom: 1em;
}

.footer__top .pancake__slice {
    margin: 1em;
}

.footer__top .pancake__slice .pancake__slice {
    margin: 0;
}

.footer__links--social {
    margin-left: -1em;
}

.footer__copyright {
    display: block;
    padding: 1rem;
}

.footer__links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.footer__links li {
    display: block;
    padding: 1em;
}

.footer a {
    color: var(--body-color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--muted-color);
}

.footer strong {
    font-family: var(--heading-font);
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
}
