form {
    margin-bottom: 3em;
}

label {
    display: block;
    margin-bottom: .5em;
}

input[type="email"],
input[type="text"] {
    font-size: 1rem;
    margin-bottom: 1em;
    height: 3em;
    padding: 0 1em;
    width: 100%;
    max-width: 24em;
    background: var(--muted-bg);
    border: 1px var(--muted-bg) solid;
    border-radius: 5px;
    font-family: var(--main-font);
    box-sizing: border-box;
    color: var(--muted-color);
}

textarea:focus,
input[type="email"]:focus,
input[type="text"]:focus {
    outline: 0;
}

[for="dob"],
[id="dob"] {
    display: none;
}

textarea {
    font-size: 16px;
    margin-bottom: 1em;
    height: 8em;
    padding: .75em 1em;
    width: 100%;
    max-width: 24em;
    background: var(--muted-bg);
    border: 1px var(--muted-bg) solid;
    border-radius: 5px;
    font-family: var(--main-font);
    box-sizing: border-box;
    color: var(--muted-color);
}

input + p,
textarea + p {
    color: var(--error-color);
    margin-top: -.5em;
}

input[error="true"],
textarea[error="true"] {
    border-color: red;
}

button {
    border: 1px var(--cta-color) solid;
    background: var(--cta-color);
    color: var(--cta-text-color);
    height: 3em;
    font-size: inherit;
    padding: 0 2em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border: 1px var(--cta-hover-color) solid;
    background: var(--cta-hover-color);
}

button:focus {
    outline: 0;
}
