.pagination span,
#pagination {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.pagination ul {
    display: flex;
    list-style: none;
    margin: 1em 0;
    padding: 0;
    justify-content: center;
}

.pagination li {
    margin: 0 .25em;
}

.pagination a {
    display: block;
    width: 2em;
    height: 2em;
    border: 1px var(--muted-bg) solid;
    border-radius: 5px;
    line-height: 2em;
    text-decoration: none;
    text-align: center;
}

.pagination a[aria-current],
.pagination a:hover {
    background: var(--muted-bg);
}

.pagination a[aria-current] {
    pointer-events: none;
}

.pagination [aria-hidden] + [aria-hidden] {
    display: none;
}
