.pancake {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5em;
    align-items: stretch;
}

.pancake__slice {
    flex: 1 1 200px;
    margin: .5em;
}

.pancake__slice--no-grow {
    flex: 0 1 384px;
}
