[card] {
    padding: 1em;
    border: 1px var(--muted-bg) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    box-sizing: border-box;
}

[card] img {
    display: block;
    width: 100%;
    margin: 0 0 1em 0;
}

[card] > strong {
    font-family: var(--heading-font);
    display: block;
    font-size: 1.25em;
    margin: 0 0 1em 0;
}

[card] > strong > a {
    text-decoration: none;
}

[card] > p {
    margin: 0 0 1em 0;
}

[card] [button] {
    margin: auto 0 0 0;
    align-self: center;
}
