body > footer {
    width: 100%;
    margin-top: auto;
    background: var(--muted-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

body > footer > div {
    width: 100%;
    max-width: calc(960px + 2em);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

body > footer > div[pancake=deconstructed] {
    margin-bottom: 1em;
}

body > footer > div[pancake=deconstructed] nav {
    margin-left: -1em;
}

body > footer > div:last-child small {
    display: block;
    padding: 1rem;
}

body > footer > div nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

body > footer > div nav li {
    display: block;
    padding: 1em;
}

body > footer a {
    color: var(--body-color);
    text-decoration: none;
}

body > footer a:hover {
    color: var(--muted-color);
}

[icon]:before {
    font-family: 'geuze-icons';
    font-size: 1.5em;
    line-height: 1.5em;
    display: block;
}

[icon="twitter"]:before {
  content: "\f099";
}

[icon="facebook"]:before {
  content: "\f09a";
}

[icon="github"]:before {
  content: "\f09b";
}

[icon="linkedin"]:before {
  content: "\f0e1";
}

[icon="youtube"]:before {
  content: "\f16a";
}

[icon="instagram"]:before {
  content: "\f16d";
}

[icon="bitbucket"]:before {
  content: "\f171";
}

[icon="tumblr"]:before {
  content: "\f173";
}

[icon="slack"]:before {
  content: "\f198";
}

[icon="twitch"]:before {
  content: "\f1e8";
}

[icon="pinterest"]:before {
  content: "\f231";
}

[icon="vimeo"]:before {
  content: "\f27d";
}

[icon="gitlab"]:before {
  content: "\f296";
}

[icon="snapchat"]:before {
  content: "\f2ac";
}
