body > footer {
    width: 100%;
    margin-top: auto;
    background: var(--muted-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

body > footer > div {
    width: 100%;
    max-width: calc(960px + 2em);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

body > footer > div[pancake=deconstructed] {
    margin-bottom: 1em;
}

body > footer > div[pancake=deconstructed] > div {
    margin: 1em;
}

body > footer > div[pancake=deconstructed] nav {
    margin-left: -1em;
}

body > footer > div:last-child small {
    display: block;
    padding: 1rem;
}

body > footer > div nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

body > footer > div nav li {
    display: block;
    padding: 1em;
}

body > footer a {
    color: var(--body-color);
    text-decoration: none;
}

body > footer a:hover {
    color: var(--muted-color);
}

body > footer strong {
    font-family: var(--heading-font);
    display: block;
    font-size: 1.17em;
    margin: 1em 0;
}
