body > header img {
    display: block;
    width: auto;
    height: 3em;
    margin: .5em 1em;
}

body > nav {
    width: 100vw;
    background: var(--cta-color);
}

body > nav > ul {
    width: 100%;
    max-width: calc(960px + 2em);
    margin: 0 auto;
    padding: 0;
    display: block;
}

body > header > nav > ul {
    padding: 0;
    margin: 0;
}

body > nav > ul > li > a[active="true"],
body > nav > ul > li > a:hover {
    background: var(--cta-hover-color);
}

@media screen and (min-width: 768px) {

    body > header > nav > ul,
    body > nav > ul {
        display: flex;
    }

    body > header {
        display: flex;
        justify-content: space-between;
    }

    body > header img {
        height: 4em;
        margin: 1em;
    }
}

body > header > nav > ul > li,
body > nav > ul > li {
    display: block;
}

body > header > nav > ul > li > a,
body > nav > ul > li > a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--cta-text-color);
}

@media screen and (min-width: 768px) {

    body > header > nav > ul > li > a {
        color: var(--body-color);
    }

    body > header > nav > ul > li > a:hover {
        color: var(--muted-color);
    }
}

body > a {
    display: none;
}

body > a:before {
    content: "\f0c9";
    font-family: 'geuze-icons';
    font-size: 2em;
    line-height: 1em;
    display: block;
}

@media screen and (max-width: 767px) {

    body > a {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        text-decoration: none;
        color: var(--cta-color);
    }

    body[menu="true"] {
        background: var(--cta-color);
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 4em;
    }

    body > nav,
    body > header > nav,
    body[menu="true"] > footer,
    body[menu="true"] > main,
    body[menu="true"] > header img {
        display: none;
    }

    body[menu="true"] > header > nav,
    body[menu="true"] > nav {
        display: block;
    }

    body[menu="true"] > a {
        color: var(--cta-text-color);
    }

    body[menu="true"] > a:before {
        content: "\f00d";
    }

    body > header > nav > ul > li > a[active="true"],
    body > header > nav > ul > li > a:hover {
        background: var(--cta-hover-color);
    }
}
