body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    min-height: 100vh;
    background: var(--body-bg);
    color: var(--body-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p:empty {
    display: none;
}

main a {
    color: var(--cta-color);
}

main a:hover {
    color: var(--cta-hover-color);
    text-decoration: none;
}

main img {
    max-width: 100%;
    height: auto;
}

body > header {
    width: 100%;
    max-width: calc(960px + 2em);
}

body > main {
    width: calc(100% - 2em);
    max-width: 960px;
    margin-bottom: 3em;
}

[pancake="deconstructed"] {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5em;
    align-items: stretch;
}

[pancake="deconstructed"] > div {
    flex: 1 1 200px;
    margin: .5em;
}

[pancake="deconstructed"] > div[grow="false"] {
    flex: 0 1 384px;
}

[iframe="responsive"] {
    position: relative;
    padding-bottom: calc(315 / 560 * 100%);
}

[iframe="responsive"] iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

article img:first-child {
    margin: 0 -1em;
    width: calc(100% + 2em);
    max-width: calc(100% + 2em);
}
