body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--mainFont);
    min-height: 100vh;
    background: var(--bodyBg);
    color: var(--bodyColor);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
}

body > header {
    width: 100%;
    max-width: calc(960px + 2em);
}

body > main {
    width: calc(100% - 2em);
    max-width: 960px;
}

body > footer {
    width: 100%;
    margin-top: auto;
    background: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > footer > div {
    width: 100%;
    max-width: calc(960px + 2em);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

body > footer > div:last-child small {
    display: block;
    padding: 1rem;
}

body > footer > div:last-child nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

body > footer > div:last-child nav li {
    display: block;
    padding: 1em;
}

body > footer > div:last-child nav a {
    color: var(--bodyColor);
    text-decoration: none;
}
