/* wrapping and sticky footer */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.page-header {
    width: 100%;
    max-width: calc(960px + 2em);
}

.page-main {
    width: calc(100% - 2em);
    max-width: 960px;
    margin-bottom: 3em;
}

.page-footer {
    width: 100%;
    margin-top: auto;
}

/* pancake columns */

[pancake="deconstructed"] {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5em;
    align-items: stretch;
}

[pancake="deconstructed"] > div {
    flex: 1 1 200px;
    margin: .5em;
}

[pancake="deconstructed"] > div[grow="false"] {
    flex: 0 1 384px;
}

[iframe="responsive"] {
    position: relative;
    padding-bottom: 75%;
    background: black;
}

[iframe="responsive"] iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[facade] img {
    width: 100%;
}

[facade] {
    position: relative;
    cursor: pointer;
}

[facade]:after {
    position: absolute;
    width: 128px;
    height: 128px;
    color: white;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
    content: '\f16a';
    font-family: 'geuze-icons';
    line-height: 128px;
    text-align: center;
    font-size: 96px;
}

[facade]:hover:after {
    font-size: 100px;
}

article img:first-child {
    margin: 0 -1em;
    width: calc(100% + 2em);
    max-width: calc(100% + 2em);
}
